version: "3.9"
services:
  devcontainer:
    container_name: ${DOCKER_IMAGE_NAME}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID}
        USER_NAME: ${USER_NAME}
        GROUP_ID: ${GROUP_ID}
        GROUP_NAME: ${GROUP_NAME}
        WORKSPACE: ${WORKSPACE}
    network_mode: host
    environment:
    - DISPLAY=${DISPLAY}
    volumes:
    - ./${WORKSPACE}:/home/${USER_NAME}/${WORKSPACE}
    - $HOME/.Xauthority:/home/${USER_NAME}/.Xauthority:ro
    - $HOME/.ssh:/home/${USER_NAME}/.ssh:ro
    - $HOME/.gitconfig:/home/${USER_NAME}/.gitconfig:ro
    stdin_open: true
    tty: true
    command: /bin/bash -c "tail -f /dev/null"
